*.js linguist-language=TypeScript
**/*.json linguist-language=jsonc
* -text
rust-corpus/** -linguist-vendored -linguist-generated -linguist-documentation
rust-corpus/** linguist-detectable=true
*.rs linguist-language=Rust
